<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/normalize.css') }}">
    <title>Insultes API</title>
</head>
<body>
    <div class="Center">
    <h1>API d'insultes française</h1>
    <p>Une API simple avec plus de 100 insultes françaises.</p>
    <a href="https://github.com/SadSpear/insultesFR-api">
        <div class="Button">
            <p>Github</p>
        </div>
    </a>
    </div>
</body>
</html>